SERVICE_NAME=named
SYSLOGD=y
START=named -u named
PID_FILE=/chroot/named/var/run/named/named.pid
CUSTOM
grep ^named: /etc/passwd >> etc/passwd
  grep ^named: /etc/group >> etc/group
  rsync -a /usr/sbin/named usr/sbin/
  mkdir -p var/named
  rsync -a /etc/named* etc/
  rsync -a /var/named/* var/named/
  rsync -a /usr/lib/liblwres* usr/lib/
  rsync -a /usr/lib/libomapi* usr/lib/
  rsync -a /usr/lib/libdns* usr/lib/
  rsync -a /usr/lib/libisc* usr/lib/
  mkdir -p var/run/named
  chown named.named var/run/named
