SERVICE_NAME=sshd
SYSLOGD=y
START=/usr/local/ssh_chroot/sbin/sshd -p 2222
PID_FILE=/chroot/sshd/var/run/sshd.pid
CUSTOM
mkdir -p usr/local/ssh_chroot
 rsync -a /usr/local/ssh_chroot/ usr/local/ssh_chroot/ 
 rsync -a /etc/passwd etc/passwd
 rsync -a /etc/group etc/group
 rsync -a /etc/shadow etc/shadow
 rsync -a /dev/pty* dev/
 rsync -a /dev/tty* dev/
 rsync -a /etc/ssh* etc/

