SERVICE_NAME=httpd
START=/usr/local/apache/bin/httpd
PID_FILE=/chroot/httpd/usr/local/apache/logs/httpd.pid
CUSTOM
rsync -a /usr/lib/libdb* usr/lib/
rsync -a /usr/lib/perl5/ usr/lib/perl5/
mkdir -p usr/local/apache/
rsync -a /etc/passwd etc/
rsync -a /etc/group etc/
chown -R nobody usr/local/apache/
  ### Comment the next line after you have rsynced it once. 
rsync -a /usr/local/apache/ usr/local/apache/
rsync -a /usr/bin/rsync usr/bin
rsync -a /bin/cp bin
rsync -a /bin/mkdir bin/
rsync -a /bin/chmod bin/
rsync -a /usr/lib/libsasl* usr/lib/
rsync -a /usr/lib/libgdbm* usr/lib/
rsync -a /usr/kerberos/ usr/kerberos/
rsync -a /etc/aliases* etc/
rsync -a /etc/sendmail* etc/
rsync -a /etc/mail/ etc/mail/
rsync -a /var/spool/mail var/spool/mail
rsync -a /var/spool/mqueue var/spool/mqueue
rsync -a /usr/sbin/sendmail* usr/sbin/
rsync -a /usr/lib/sendmail* usr/lib/
rsync -a /usr/bin/procmail usr/bin/

mkdir -p var/spool/mail
chown mail.mail var/spool/mail
chmod 775 var/spool/mail
mkdir -p var/spool/mqueue

mkdir -p usr/share/locale/
rsync -a /usr/share/locale/ usr/share/locale/

mkdir -p etc/profile.d
rsync -a /etc/profile.d/ etc/profile.d/

rsync -a /usr/bin/perl* usr/bin/

mkdir -p usr/lib/locale/
rsync -a /usr/lib/locale/ usr/lib/locale/

mkdir -p home/nobody
chown nobody.nobody home/nobody
ln -s /usr/local/apache home/nobody/apache
rsync -a /home/nobody/.bashrc home/nobody/
rsync -a /home/nobody/.bash_profile home/nobody/

mkdir -p usr/local/pg712/lib/
rsync -a /usr/local/pg712/lib/ usr/local/pg712/lib/
echo "/usr/local/pg712/lib" >> etc/ld.so.conf
cp /sbin/ldconfig .
/usr/sbin/chroot /chroot/httpd ./ldconfig
rm -f ldconfig

rsync -a /etc/services etc/

