SERVICE_NAME=ntpd
SYSLOGD=y
START=ntpd -U ntp -p /var/run/ntpd.pid
PID_FILE=/chroot/ntpd/var/run/ntpd.pid
CUSTOM
rsync -a /usr/sbin/ntpd usr/sbin/
 rsync -a /etc/ntp.conf etc/
 rsync -a /etc/ntp/ etc/ntp/
 rsync -a /usr/lib/libcap* usr/lib/
 rsync -a /usr/sbin/ntpdate usr/sbin
grep ^ntp: /etc/group >> etc/group
grep ^ntp: /etc/passwd >> etc/passwd
