SERVICE_NAME=postmaster
START=su -c 'nohup /usr/local/postgresql/bin/postmaster -i -D /usr/local/postgresql/data -h 127.0.0.1 > /usr/local/postgresql/logfile_127.0.0.1 2>&1 </dev/null &' postgres
PID_FILE=/chroot/postmaster/usr/local/postgresql/data/postmaster.pid
CUSTOM
mkdir -p usr/local/postgresql/
rsync -a /usr/lib/libz* usr/lib/
 rsync -a /usr/lib/libreadline* usr/lib/
# rsync -a /usr/local/postgresql/ usr/local/postgresql/
 rsync -a /usr/lib/perl5/ usr/lib/perl5/
 rsync -a /usr/bin/perl* usr/bin/
 rsync -a /usr/lib/libtcl8* usr/lib/
 rsync -a /usr/lib/libtk8* usr/lib/
 mkdir -p usr/X11R6/lib/
 rsync -a /usr/X11R6/lib/libX11* usr/X11R6/lib/
grep ^postgres: /etc/passwd >> etc/passwd
  grep ^postgres: /etc/group >> etc/group
rsync -a /usr/bin/nohup usr/bin
rsync -a /bin/nice bin/

