SERVICE_NAME=sendmail
SYSLOGD=y
START=/usr/sbin/sendmail -bd -q1h
PID_FILE=/chroot/sendmail/var/run/sendmail.pid
CUSTOM
rsync -a /etc/passwd etc/
 rsync -a /etc/group etc/
 
 mkdir -p var/spool/mail
 chown mail.mail var/spool/mail
 chmod 775 var/spool/mail
 mkdir -p var/spool/mqueue
 
 rsync -a /usr/lib/libsasl* usr/lib/
 rsync -a /usr/lib/libgdbm* usr/lib/
 rsync -a /usr/kerberos/ usr/kerberos/
 rsync -a /etc/aliases* etc/
 rsync -a /etc/sendmail* etc/
 rsync -a /etc/mail/ etc/mail/
    ## Comment the next line when you have rsynced the mail over. 
 rsync -a /var/spool/mail var/spool/mail
 rsync -a /var/spool/mqueue var/spool/mqueue
 rsync -a /usr/sbin/sendmail* usr/sbin/
 rsync -a /usr/lib/sendmail* usr/lib/
 rsync -a /usr/bin/procmail usr/bin/
 
 rsync -a /usr/kerberos/ usr/kerberos/
