/* a style sheet for the index page of an issue */
H4 { color: #660033; font-familiy:Arial,Helvetica,sans-serif }
td.top {font-family: Arial,Geneva,Verdana,Helvetica,sans-serif; font-size:12 }
pre { font-family:monospace,Courier }
p.cl { color:#EE9500 }
a.nodec { text-decoration:none }
p.trans { font-size:8pt; text-align:right }
p.clbox { width:90%; alignment:center; background-color:#FFD700; border-style:none; border-width:medium; border-color:#FFD700; padding:0.5cm ;  text-align:center }
p.code { width:80%; alignment:center; background-color:#aedbe8; border-style:none; border-width:medium; border-color:#aedbe8; padding:0.1cm ;  text-align:left }
p.remark { width:80%; alignment:center; background-color:#f8dca8; border-style:none; border-width:medium; border-color:#f8dca8; padding:0.1cm ;  text-align:left }
p.foot { background-color:#AAAAAA; color:#FFFFFF; border-style:none; border-width:medium; border-color:#AAAAAA; padding:0.5cm ; margin-top:0.1cm; margin-right:1cm; margin-left:1cm; text-align:center }
hr.ns { background: black; border-style: none }
/* vim: set sw=2 ts=2 et nowrap ic: */
